#footer{
    background-color: #040404;
    color: white;
    display: flex;
    gap: 10%;
    margin-top: 3px;
}
.social-pallatforms{
margin-left: 10%;
font-size: 23px;
}
#icon-images {
    display: flex;
    gap: 5%;
    margin-left: -28%;
    margin-top: 120px;
    font-size: 39px;
}
.social{
    margin-left: -19%;
    font-size: 30px;
    margin-left: 203px;
}
#quick-links{
    margin-left: -23px;
    font-size: 12px;
}
h3{
    font-size: 30px;
    margin-left: 133px;
}
#contact{
    margin-left: 14%;
    font-size: 12px;
}
#h1{
margin-left: 45%;
}
#p1{
    margin-left: 45%;
}